<!DOCTYPE html>
<html>
<head>
	<title>The Federation Fleet Bank</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/assets/img/UFP_Logo.png">

    <meta property="og:title" content="Federation Fleet Bank" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="bank.federationfleet.xyz" />
    <meta property="og:image" content="/static/assets/img/UFP_Logo.png" />
    <meta property="og:description" content="Welcome to The Federation Fleet Bank where it is nothing like any other bank in ACFC due to its true freedom and safety for your every needs." />
    
    <meta name="theme-color" content="#1d8cf8">
    <script src="/static/assets/js/core/jquery.min.js"></script>
    <script src="/static/assets/js/core/popper.min.js"></script>
    <script src="/static/assets/js/core/bootstrap.min.js"></script>
    <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Chart JS -->
    <script src="/static/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/static/assets/js/black-dashboard.min.js?v=1.0.0"></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

    header {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<header>
    <h1 style="color:red; font-family: 'Oswald'; font-size: 100px;">
        ACCESS DENIED
    </h1>
    <h1 style="color:red; font-family: 'Oswald';">
        You probably don't have a ship
    </h1>
</header>
</html>