<html>
<head>
    <title>Home page</title>
    <link rel="icon" href="/static/kodiak/images/favicon.png">
    <link rel="stylesheet" href="/static/kodiak/styles/master.css">

    <meta property="og:title" content="ACFC Ship Akinator" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="federationfleet-acfc.xyz/shipakinator/home" />
    <meta property="og:image" content="/static/kodiak/images/favicon.png" />
    <meta property="og:description" content="Made by Kodiak (@OOOO_01O)" />

    <meta name="theme-color" content="#1d8cf8">
</head>
<body>
    <div id="topbar">
        <script src="/static/kodiak/scripts/topbar.js"></script>
    </div>

    <div id="frame">
        <h1>Hello, welcome to the home page!</h1>
        <a href="/shipakinator/game">ACFC Ship Akinator!</a>

        <p>Jad's newest video:</p>
        <iframe class="youtube"
                src="https://www.youtube.com/embed/watch?v=leeVTayp1bU&list=UULFCnKaoN63FbqDFY8cxB8PLA">
        </iframe>
    </div>
</body>
</html>