<html>
<head>
    <title>ACFC Akinator ships</title>
    <link rel="icon" href="/static/kodiak/images/favicon.png">
    <link rel="stylesheet" href="/static/kodiak/styles/master.css">

    <meta property="og:title" content="ACFC Ship Akinator" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="federationfleet-acfc.xyz/shipakinator/home" />
    <meta property="og:image" content="/static/kodiak/images/favicon.png" />
    <meta property="og:description" content="Made by Kodiak (@OOOO_01O)" />

    <meta name="theme-color" content="#1d8cf8">
</head>
<body>
    <div id="topbar">
        <script src="/static/kodiak/scripts/topbar.js"></script>
    </div>

    <div id="frame">
        <h1>List of ships for ACFC Akinator</h1>

        <button id="button" onclick="expand()">Expand</button>

        <br>

        <div id="list" class="faint-background" style="display: none;"></div>

        <img style="display: none" id="example-image" class="listmaxed" /><br>

        <script src="/static/kodiak/scripts/shipakinator_list.js"></script>
        <script src="/static/kodiak/scripts/shipakinator_listing.js"></script>
    </div>
</body>
</html>